#!/bin/bash

directory=$(realpath "$(dirname "${BASH_SOURCE[0]:-$0}")")

jarpath="${directory}/.lift/lib.jar"
if [ ! -f "$jarpath" ]; then
  make -C "${directory}/.lift" bundle
fi

export CLASSPATH="$CLASSPATH:$jarpath"
