#!/bin/bash

directory=$(realpath "$(dirname "${BASH_SOURCE[0]}")")

jarpath="${directory}/.lift/algs4.jar"
jarurl="https://algs4.cs.princeton.edu/code/algs4.jar"
if [ ! -f "$jarpath" ]; then
  mkdir -p "$(dirname "$jarpath")"
  curl -sSL "$jarurl" -o "$jarpath"
fi

export CLASSPATH=$CLASSPATH:$jarpath
